@import "_reset";
@import "_variables";
@import "_mixins";

body {
  background-color: $mainColor;
}

header {
  width: 33%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f0f0f0;

  z-index: 1;

  @include tabletL {
    width: 600px;
  }

  @include tabletM {
    width: 420px;
  }

  @include mobileL {
    position: relative;
    width: 100%;
    max-height: 790px;
  }

  h1 {
    color: $mainColor;
    font-size: 68px;
    line-height: 1;
    padding: 90px 70px;

    @include mobileM {
      font-size: 52px;
    }

    @include mobileL {
      padding-bottom: 20px;
    }

    @include tabletM {
      font-size: 46px;
      padding: 90px 70px;
    }
  }

  .wrapper {
    padding: 50px 70px;

    @include tabletM {
      padding: 50px 70px;
    }
    .inner {
      width: 80%;

      @include mobileL {
        width: 100%;
      }

      @include tabletM {
        width: 100%;
      }

      p {
        span {
          color: $mainColor;
          display: block;

          &:first-child {
            font-size: 24px;
          }
          &:last-child {
            text-align: justify;
            font-size: 15px;
          }
          font-weight: 600;
          margin-bottom: 25px;
        }
      }

      div {
        nav {
          margin-bottom: 20px;
          ul {
            li {
              display: inline-block;
              margin-right: 8px;
              margin-bottom: 8px;
              a {
                font-weight: 600;
                padding-bottom: 2px;
                color: #999;
                font-size: 14px;
                position: relative;
                box-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
                &:hover,
                &:focus {
                  color: #333;
                }
              }
            }
          }
        }

        .desc {
          font-size: 11px;
          color: #777;
        }
      }
    }
  }
}

aside {
  position: fixed;
  background-color: rgba(231, 79, 69, 0.9);
  top: 0;
  right: 0;
  width: calc(100% - 33%);
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid rgba(105, 37, 32, 0.3);

  z-index: 1;

  @include tabletL {
    width: calc(100% - 600px);
  }

  @include mobileL {
    position: relative;
    width: 100%;
    height: 100px;
  }

  @include tabletM {
    width: calc(100% - 420px);
  }

  .sort {
    font-size: 18px;
    font-weight: bold;

    button {
      font-size: 18px;
      font-weight: bold;
      color: $redText;
      box-shadow: 0 1px 0 $redText;
      &:hover,
      &:focus {
        color: #fff;
        box-shadow: 0 1px 0 #fff;
      }
    }
  }
}

.contents {
  width: calc(100% - 33%);
  position: absolute;
  top: 0;
  right: 0;

  @include mobileL {
    width: 100%;
    position: relative;
  }

  @include tabletM {
    width: calc(100% - 420px);
  }

  @include tabletL {
    width: calc(100% - 600px);
  }

  li {
    width: 100%;
    padding: 112px 140px;
    position: relative;

    @include mobileL {
      padding: 60px 70px;

      &:first-child {
        margin-top: 0 !important;
      }
    }

    @include tabletM {
      padding: 112px 70px;
    }

    @include tabletL {
      padding: 112px 90px;
    }

    &:before {
      content: "";
      width: 100%;
      height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.08), transparent);
    }

    &:first-child {
      margin-top: 120px;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 30px;

      @include mobileL {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
      }

      @include tabletM {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
      }

      h2 {
        color: #fff;
        font-size: 54px;
        font-weight: bold;
        position: relative;
        word-spacing: -8;
        flex-basis: 70%;

        @include tabletL {
          font-size: 40px;
        }

        @include mobileL {
          word-spacing: 0;
          font-size: 32px;
          margin-bottom: 8px;
        }

        @include tabletM {
          word-spacing: 0;
          font-size: 36px;
          margin-bottom: 8px;
        }

        &:hover a {
          opacity: 0.9;
          transition-duration: 0ms;
        }

        a {
          position: absolute;
          top: 0;
          left: -45px;
          opacity: 0;
          color: $redText;
          transform: translateZ(0);
          transition: opacity 0.45s;

          @include mobileL {
            left: -30px;
          }

          @include tabletM {
            left: -30px;
          }

          &:hover {
            opacity: 1;
          }
        }
      }

      p {
        color: #fff;
        font-weight: bold;
        letter-spacing: 1;
        margin-bottom: 4px;
        text-align: right;

        @include mobileL {
          font-size: 12px;
        }
      }
    }

    .videoBox {
      position: relative;
      width: 100%;
      height: auto;
      padding-bottom: 56.25%;
      margin-bottom: 50px;
      box-shadow: 0 80px 80px -80px rgba(0, 0, 0, 0.4);

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }

    .thought {
      display: flex;
      justify-content: flex-end;

      @include mobileL {
        justify-content: center;
      }

      @include tabletM {
        justify-content: center;
      }

      @include tabletL {
        justify-content: center;
      }

      .thoughtWrap {
        flex-basis: 50%;

        @include mobileL {
          flex-basis: 100%;
        }

        @include tabletM {
          flex-basis: 100%;
        }

        @include tabletL {
          flex-basis: 100%;
        }

        p {
          color: #fff;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.6;

          @include mobileL {
            font-size: 14px;
          }

          @include tabletM {
            font-size: 14px;
          }

          @include tabletL {
            font-size: 14px;
          }
        }

        .thoughtFooter {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 20px;

          p {
            color: #fff;
          }
          .rating {
            color: $redText;
            font-size: 18px;
            font-weight: bold;
            display: inline-block;

            @include mobileL {
              font-size: 14px;
            }

            @include tabletM {
              font-size: 14px;
            }

            @include tabletL {
              font-size: 14px;
            }
          }
        }
      }
    }

    .comments {
      display: flex;
      justify-content: space-between;
      margin-top: 48px;
      color: $redText;
      font-weight: bold;
      font-size: 18px;

      @include mobileL {
        font-size: 14px;
      }

      @include tabletM {
        font-size: 14px;
      }

      @include tabletL {
        font-size: 14px;
      }

      button {
        color: $redText;
        font-weight: bold;
        font-size: 18px;
        position: relative;
        padding: 2px;

        @include mobileL {
          font-size: 14px;
        }

        @include tabletM {
          font-size: 14px;
        }

        @include tabletL {
          font-size: 14px;
        }

        &::before {
          content: "";
          height: 2px;
          background-color: $redText;
          width: 100%;
          position: absolute;
          bottom: -10px;
          left: 0;
          right: 0;
        }
      }
    }
  }
}
