@import "_reset";
@import "_variables";

body {
  background-color: $mainColor;
}

header {
  width: 33%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 60px 70px;
  background-color: #f0f0f0;

  z-index: 1;

  h1 {
    color: $mainColor;
    font-size: 68px;
    line-height: 1;
    padding: 30px 0;
    margin-bottom: 100px;
  }

  p {
    padding-top: 40px;
    span {
      color: $mainColor;
      display: block;

      &:first-child {
        width: 70%;
        font-size: 24px;
      }
      &:last-child {
        text-align: justify;
        font-size: 15px;
      }
      font-weight: 600;
      margin-bottom: 25px;
      width: 80%;
    }
  }

  div {
    width: 80%;
    nav {
      margin-bottom: 20px;
      ul {
        li {
          display: inline-block;
          margin-right: 8px;
          margin-bottom: 8px;
          a {
            font-weight: 600;
            padding-bottom: 2px;
            color: #999;
            font-size: 14px;
            position: relative;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
            &:hover,
            &:focus {
              color: #333;
            }
          }
        }
      }
    }

    .desc {
      width: 80%;
      font-size: 11px;
      color: #777;
    }
  }
}

aside {
  position: fixed;
  background-color: rgba(231, 79, 69, 0.9);
  top: 0;
  right: 0;
  width: 67%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid rgba(105, 37, 32, 0.3);

  z-index: 1;

  .sort {
    font-size: 18px;
    font-weight: bold;

    button {
      font-size: 18px;
      font-weight: bold;
      color: $redText;
      box-shadow: 0 1px 0 $redText;
      &:hover,
      &:focus {
        color: #fff;
        box-shadow: 0 1px 0 #fff;
      }
    }
  }
}

.contents {
  width: 67%;
  position: absolute;
  top: 0;
  right: 0;

  li {
    width: 100%;
    padding: 120px 140px;
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.08), transparent);
    }

    &:first-child {
      margin-top: 120px;
    }

    h2 {
      color: #fff;
      font-size: 52px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    .videoBox {
      width: 100%;
      height: 540px;
      background-color: salmon;
      box-shadow: 0 80px 80px -80px rgba(0, 0, 0, 0.4);
      margin-bottom: 50px;
    }

    .thought {
      display: flex;
      justify-content: flex-end;

      .thoughtWrap {
        flex-basis: 50%;

        p {
          color: #fff;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.6;
        }

        .thoughtFooter {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 20px;

          p {
            color: #fff;
          }
          .rating {
            color: $redText;
            font-size: 18px;
            font-weight: bold;
            display: inline-block;
          }
        }
      }
    }

    .comments {
      display: flex;
      justify-content: space-between;
      margin-top: 48px;
      color: $redText;
      font-weight: bold;
      font-size: 18px;

      button {
        color: $redText;
        font-weight: bold;
        font-size: 18px;
        position: relative;
        padding: 2px;

        &::before {
          content: "";
          height: 2px;
          background-color: $redText;
          width: 100%;
          position: absolute;
          bottom: -10px;
          left: 0;
          right: 0;
        }
      }
    }
  }
}
